doctype html
html
  head
    meta(name='viewport',content='width=device-width,initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet',href='/bootstrap/css/amelia.bootstrap.css')
  body
      .container
         a.navbar-brand(href='/') RESTAURANT_FINDER
           button.navbar-toggler(type='button', data-toggle='collapse',data-target='#navbarMain')
            span.navbar-toggler-icon
#navbarMain.navbar-collapse.collapse
              ul.navbar-nav.mr-auto
                li.nav-item
                  a.nav-link(href='/about/') About
.container.content
    block content
    footer
      .row
        .col-12
          small &copy; Getting MEAN – Simon Holmes/Clive Harber 2018
    script(src='/javascripts/jquery.js')
    script(src='bootstrap/js/bootstrap.min.js')
